/deepc_hunt.egg-info
.DS_Store
.tmp.driveupload/
.tmp.drivedownload/
dist/
build/
examples/.ipynb_checkpoints/
deepc_hunt/__pycache__/
.vscode
.pytest_cache/
archive/
examples/final_pos/
examples/archive/
examples/video/*.mp4
examples/video/*.json
*.sub
*.out
*.err
*.log
*/subs
*/errs
*/outs
*/logs